<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CUDA by Example: 404</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div class="example">
      <h2><a href="./">CUDA by Example</a>: 404</h2>
      <p>Page not found. <a href="./">Back to index.</a></p>
{{ template "footer" }}
    </div>
  </body>
</html>
